<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="jquery@*" data-semver="2.1.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body ng-app="myApp" ng-controller="ChangeUserPlanController">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><img src="../HTML/assets/img/logo.png" alt="Railblazers" height="45px" /></a>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Groups</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
          <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="dropdownMenu1">
                <img src="http://placehold.it/35x35" alt="avatar" class="img-circle" />
                <span class="caret"></span>
              </a>
              
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="../HTML/dashboard-settings.html">Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="../HTML/dashboard-subscription.html">Subscription</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Events</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Groups</a></li>
            </ul>
          </span>
          <button class="btn btn-default">Sign Out</button>

        </div>
      </div>
    </nav>

    <div class="row cheat-background" ui-view>
      <!-- Filler space for accordion-->
      <div class="col-md-2">
        <!--<button class="btn btn-default btn-lg btn-block">Settings</button>
        <button class="btn btn-default btn-lg btn-block">Subscription</button>
        <button class="btn btn-default btn-lg btn-block">Events</button>
        <button class="btn btn-default btn-lg btn-block">Groups</button>-->
        <!--<div class="link-group text-center">
          <a href="../HTML/dashboard-settings.html" class="link">Settings</a>
          <a href="#" class="link">Subscription</a>
          <a href="#" class="link">My Events</a>
          <a href="#" class="link">My Groups</a>
        </div>-->
        <nav class="navbar navbar-inverse sidebar" id="custom-sidebar" role="navigation">
          <div >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav"> <!--navbar-nav">-->
                <li><a name="settings" href="../HTML/dashboard-settings.html">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                <li class="active"><a name="subscription" href="../HTML/dashboard-subscription.html">Subscription<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a></li>
                <li ><a name="myEvents" href="#myEvents">My Events<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a></li>
                <li ><a name="myGroups" href="#myGroups">My Groups<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- Main div -->
      <div class="col-md-10 content-background">
        <h1>Account Dashboard</h1>
        <ul class="breadcrumb">
          <li><a href="../HTML/dashboard-settings.html">Account Dashboard</a></li>
          <li><a href="../HTML/dashboard-settings.html">Subscription</a></li>
          <li><a href="../HTML/dashboard-settings.html">Change Plan</a></li>
        </ul>

        <div class="row">
          <div class="col-md-10">

            <!-- BEGIN PAGE CONTENT-->
      <div class="row margin-bottom-20">
        <div class="col-md-12">
                    <div class="portlet" id="form_wizard_1">
                      <div class="portlet-body form">
                        <div class="form-horizontal"><!--was form-->
                          <div class="form-wizard">
                            <div class="form-body">
                              <ul class="nav nav-pills nav-justified steps">
                                <!--<li ng-class="{'active': activeTab===1, 'done': step1 ===true}">-->
                                <li ui-sref-active="active" ng-class="{'done': step1 ===true}">
                                  <a ui-sref="client-addnew.step-1" data-toggle="tab" class="step" >
                                  <span class="number">
                                    1
                                  </span>
                                  <span class="desc">
                                    <i class="fa fa-check"></i> Billing Information
                                  </span>
                                  </a>
                                </li>
                                <li ui-sref-active="active" ng-class="{'done': step2 ===true}">
                                  <a href ng-click="checkStep1(client, AddClientStep1)" class="step">
                                  <span class="number">
                                    2
                                  </span>
                                  <span class="desc">
                                    <i class="fa fa-check"></i> Review
                                  </span>
                                  </a>
                                </li>
                                <li ui-sref-active="active" ng-class="{'done': step3 ===true}">
                                  <a ui-sref="client-addnew.step-3" data-toggle="tab" class="step active">
                                  <span class="number">
                                    3
                                  </span>
                                  <span class="desc">
                                    <i class="fa fa-check"></i> Confirmation
                                  </span>
                                  </a>
                                </li>
                                
                              </ul>
                              <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success" ng-style="{'width': percentBar}">
                                </div>
                              </div>
                              <div class="tab-content">
                                  <form role="form" name="AddClientStep1" novalidate>
                                    <fieldset>
                                    <legend>Billing Information</legend>
                                    <div class="form-group">
                                      <label class="control-label col-md-3">
                                          <span class="required">*</span>Full Name:
                                      </label>
                                      <div class="col-md-5">
                                        <input type="text" class="form-control" name="clientFirstName" ng-model="client.firstName" />
                                        
                                      </div>
                                    </div>
                                        <!--<div ng-show="AddClientStep1.clientFirstName.$invalid">
                                          <br />
                                           <div class="alert alert-danger">
                                            <span>Client Details Invalid:</span>
                                            <span ng-show="AddClientStep1.clientFirstName.$error.required">This field is required. Please enter a value.</span>
                                          </div>
                                     </div>-->
                                    <div class="form-group">
                                      <label class="control-label col-md-3">
                                        <span translate="ClientAdd.lastName">Last Name:</span>
                                      </label>
                                      <div class="col-md-5">
                                        <input type="text" class="form-control" name="last-name" ng-model="client.lastName"/>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3"><!--<span class="required">*</span>-->
                                        <span translate="ClientAdd.email">Email Address:</span>
                                      </label>
                                      <div class="col-md-5">
                                        <input type="text" class="form-control" name="email" ng-model="client.emailAddress"/>
                                        <span class="help-block">
                                          <span translate="ClientAdd.emailPrompt">Enter the email where appointment notices should be sent to</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3"><!--<span class="required">*</span>-->
                                        <span translate="ClientAdd.password">Password:</span>
                                      </label>
                                      <div class="col-md-5">
                                        <input type="password" class="form-control" name="password" ng-model="client.password" />
                                        <span class="help-block">
                                          <span translate="ClientAdd.passwordPrompt">Providing the client with a password lets them login to the scheduler</span>
                                        </span>
                                      </div>
                                    </div>
                                    <!--<div class="form-group">
                                      <label class="control-label col-md-3"><span class="required">*</span>Confirm Password:
                                      
                                      </label>
                                      <div class="col-md-5">
                                        <input type="password" class="form-control" name="rpassword"/>
                                      </div>
                                    </div>-->

                                    <div class="form-actions fluid">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="col-md-offset-3 col-md-9">
                                            <button type="button" ng-click="checkStep1(client)" class="btn blue button-next">
                                            <span translate="btn.continue">Continue</span> <i class="m-icon-swapright m-icon-white"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  </form>

                                <!--LOAD NESTED STATES-->
                                <!--<div ui-view="content"></div>-->

                                <div class="tab-pane active" id="tab1">
                                  <!--BASIC INFO-->
                                  
                                </div>
                                <div class="tab-pane" id="tab2">
                                  <!--CONTACT DETAILS-->
                                </div>
                                <div class="tab-pane" id="tab3">
                                                           <!--ADDRESS-->
                                </div>
                                <div class="tab-pane" id="tab4">
                                  <!--CONFIRM-->
                                </div>
                              </div>
                            </div>
                            <!-- FORM BUTTONS HERE-->
                          </div>
                        </div><!--was form-->
                      </div>
                    </div>
                  </div>
                          
                </div>
            
            <div class="clear-space"></div>
          </div>

        </div>
      </div>

    </div>
    


    <footer class="footer footer-inverse">
      <div class="footer-inner text-center">
        <ul>
          <li><a href="#"><img src="assets/img/twitter.png" alt="Twitter" /></a></li>
          <li><a href="#"><img src="assets/img/facebook.png" alt="Facebook" /></a></li>
          <li><a href="#"><img src="assets/img/blogger.png" alt="Blogger" /></a></li>
          <li><a href="#"><img src="assets/img/youtube.png" alt="YouTube" /></a></li>
        </ul>
        <ul>
         <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="tos.html">Terms of Service</a></li>
        </ul>
        <p class="text-muted">&copy; Copyright 2015 Railblazers</p>
      </div>
    </footer>
      
  </body>

</html>
